<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="hotKeyID" value="123" />
    <add key="hotKeyMod" value="1" />
    <!--scWin Notepad++-->
    <add key="targetProcessName" value="scWin" />
    <add key="talkProcessName" value="talk" />
    <add key="programFileLocation" value="C:\Users\Cati\AppData\Roaming\NCH Software\Program Files\Talk\talk.exe" />
    <add key="numberOverride" value="" />
    <add key="captureLocationX" value="0" />
    <add key="captureLocationY" value="150" />
    <add key="captureWidth" value="400" />
    <add key="captureHeight" value="300" />
    <add key="cleanupFolder" value="false" />
    <add key="alertSound" value="Bingbong.wav" />
    <add key="alertDelay" value="20000" />
  </appSettings>
</configuration>